* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: grey;
}

div.flex-div-general {
    display: flex;
    height: calc(100% - 70px);
}

/* HEADER */
ul {
    list-style: none;
}

header {
    width: 300px;
    padding-left: 3rem;
    background-color: #000000;
    color: grey;
    font-size: .8rem;
}

article.article1-header ul li:nth-child(1) {
    color: white;
}

article.article1-header img {
    margin-top: 1rem;
    height: 45px;
}

article.article1-header ul li img {
    height: 25px;
}

ul.li-playlist {
    margin-top: 1rem;
}

ul.li-playlist li {
    margin-top: 1rem;
}

span.span-header {
    border: solid grey;
    background-color: grey;
    color: black;
    font-size: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

article.article2-header img {
    height: 15px;
}

article.article2-header {
    margin-top: 23rem;
}

article.article2-header p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block;
}

/* MAIN */
main {
    background-color: #141922;
    color: white;
    width: calc(100% - 200px);
}

/* EFFETTUA UPGRADE nel main*/

main section.button {
    position: sticky;
    top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #080b12;
    display: flex;
    justify-content: end;
}

main section.button button {
    background-color: #000000;
    color: white;
    border-radius: 1rem;
    padding: .5rem;
    font-size: .7rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

/*main principale*/
/*section 1 del main*/

main nav.nav-main ul {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

main nav.nav-main ul li a {
    margin: 1rem;
    font-size: small;
}

section.section1-main {
    padding-top: 2rem;
    padding-left: 1rem;
}

main section.section1-main h1 {
    padding-bottom: 2rem;
}

section.section1-main article img {
    height: 150px;
    margin-right: 1rem;
}

div.div-flex-recently-played {
    display: flex;
}

div.div-flex-recently-played p {
    margin-top: .5rem;
}

p.p-titolo-canzone {
    text-align: center;
    font-size: .8rem;
    font-weight: bolder;
}

p.p-sottotitlo {
    font-size: .7rem;
    color: grey;
    text-align: center;
}

/*section 2 del main*/

section.section2-main {
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section.section2-main article img {
    height: 150px;
}

p.p-sottotitlo-section2 {
    font-size: .7rem;
    color: grey;
    margin-bottom: 1rem;
}

div.div-flex-creato-per-John-Doe {
    display: flex;
}

div.div-flex-creato-per-John-Doe img {
    margin-right: 1rem;
}

/*section finale del main*/
div.div-flex-artisti-popolari {
    display: flex;
}

div.div-flex-artisti-popolari img {
    margin-right: 1rem;
    border-radius: 50%;
}

/*FOOTER*/
footer {
    height: 70px;
    width: 100vw;
    background-color: #282828;
}

footer img.img-sinister {
    height: 30px;
}

p.p-navbar-footer {
    color: white;
    font-size: .8rem;
}

p.p-grey-navbar-footer {
    color: grey;
    font-size: .7rem;
}

div.container-footer {
    display: flex;
    align-items: center;
}

nav.navbar-flex-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul.ul-flex-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer article nav ul li img {
    height: 20px;
    filter: invert(1);
}

@media screen and (max-width: 992px) {
    header {
        width: 200px;
        padding-left: 1rem;
    }

    section.section1-main article img {
        margin-right: 0.5rem;
    }

    section.section1-main article img {
        height: 118px;
    }

    p.p-titolo-canzone {
        font-size: .5rem;
    }

    p.p-sottotitlo {
        font-size: .4rem;
    }

    main h1, h2 {
        font-size: 1rem;
    }

    main nav.nav-main ul li a {
        font-size: .6rem;
    }

    main section.section2-main p.p-sottotitlo-section2 {
        font-size: .6rem;
    }

    header ul.li-playlist {
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen  and (max-width: 576px) {
    
}
